<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="static/css/main.css">
    <title>greet</title>
</head>
<body>
    <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
                <h1 id="form-button" class="btn btn-success btn-block">Registration Summary</h1>
				
                Hello Mr, {{name}}<br>
                Your Email, {{email}}<br>
                address, {{address}}<br>
                city, {{city}}<br
                State, {{state}}<br>
                zipcode, {{zipcode}}<br
                country, {{country}}
					</div>

				
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="back">
				</form>
			</div>

</body>
</html>